@{
    ViewData["Title"] = "Marked Payments Listing";
}

@section Styles{
    <link href="~/css/DataTableStyle.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}
<div class="clearfix"></div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 dataTable-btn">
        <button onclick="DeleteInBulk()" class="btn btn-default">
            <i class="fa fa-trash"></i> Delete All Selected
        </button>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12" style="padding:0px 0px 5px 10px">
        <div class="col-lg-5 col-md-10 col-sm-8 col-xs-6" style="padding-left: 0px; cursor: pointer;">
            <input type="text" id="dateFilterMarPay" class="form-control customDate" placeholder="dd/mm/yyyy" style="cursor:pointer;">
            <span class="fa fa-calendar form-control-feedback right" aria-hidden="true" onclick="$('#dateFilterMarPay').focus()"></span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6" id="clearDateFilter" style="display:none;padding-top:8px">
            <a id="clearDateFilter"><i class="fa fa-close" style="font-size:20px"></i></a>
        </div>
    </div>
    <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" style="padding:0px">
            <select id="spId" asp-items="@(new SelectList(ViewBag.SalesPersons,"Id","Name"))" class="form-control">
                <option value="" selected>All Salesperson</option>
            </select>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewData["Title"]</h2>
                <div class="nav navbar-right panel_toolbox">
                    <input class='form-control custom-search' placeholder='Type and press enter to search' type="search" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content table-responsive">
                <table id="PaymentTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th><input id="checkAllPayments" type="checkbox" style="vertical-align:sub"></th>
                            <th>Payment Code</th>
                            <th>Business Name</th>
                            <th>SalesPerson</th>
                            <th>Current Balance</th>
                            <th>Payment Received</th>
                            <th>Remaining Balance</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="paymentTableBdy">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/DataTableScript.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            window.onpageshow = function (event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
            $('#spId').select2({
                width: '100%'
            })
            $('.custom-search').tooltip({
                trigger: 'hover',
                html: true,
                title: '<b>Search by</b><ul class="tooltip-ul1"><li>Payment Code</li><li>Business Name</li><li>Salesperson</li></ul>',
                placement: 'left',
                fallbackPlacement: 'flip',
                boundary: 'window',
                template: '<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner text-left"></div></div>'
            });
            $("#dateFilterMarPay").datepicker({
                dateFormat: 'dd/mm/yy',
                maxDate: 0
            }).val(new Date().toLocaleDateString("en-GB"));
            var selectedOrders = false;
            var paymentTable = $("#PaymentTable").DataTable({
                dom: "frt<'row'<'col-md-4 col-xs-12'i><'col-md-4 col-xs-12'l><'col-md-4 col-xs-12'p>>",
                serverSide: true,
                pagingType: "simple_numbers",
                processing: true,
                stateSave: true,
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading...',
                    emptyTable: 'No data available'
                },
                order: [7, 'desc'],
                lengthMenu: [10, 25, 50, 100, 250, 500],
                filter: true,
                ajax: {
                    url: '@Url.Action("Payments","Payment")',
                    type: "POST",
                    datatype: "json",
                    method: 'post',
                    data: function (d) {
                        d.isMarked = true;
                        id = '';
                    },
                    dataSrc: function (data) {
                        return data.data;
                    }
                },
                columns: [
                    {
                        data: { id: 'id' },
                        sortable: false,
                        render: function (data) {
                            return `<input id="${data.id}" type="checkbox" onchange="CheckSelected('payment')" style="vertical-align:sub">`
                        }
                    },
                    { data: 'code' },
                    { data: 'customerName' },
                    { data: 'salesPersonName' },
                    {
                       data: { currentBalance : 'currentBalance'},
                         render: function (data) {
                            return data.currentBalance.toLocaleString('en-US', {minimumFractionDigits: 2});
                        },
                        className: "text-right",
                    },
                    {
                        data: { paymentReceived: 'paymentReceived' },
                        render: function (data) {
                            return data.paymentReceived.toLocaleString('en-US', {minimumFractionDigits: 2});
                        },
                        className: "text-right",
                    },
                    {
                        data: { newBalance : 'newBalance'},
                         render: function (data) {
                            return data.newBalance.toLocaleString('en-US', {minimumFractionDigits: 2});
                        },
                        className: "text-right",
                    },
                    {
                        data: 'createdAt',
                        render: function (data) {
                            return new Date(data).toLocaleString("en-GB");
                        }
                    },
                    {
                        data: 'id',
                        searchable: false,
                        sortable: false,
                        render: function (data) {
                            return `<div class='dropdown'>
                                        <a class='dropdown-toggle actionBtn' data-toggle='dropdown'>
                                            <i class='fa fa-ellipsis-v icons' aria-hidden='true'></i>
                                        </a>
                                        <ul class='dropdown-menu' id='ActionLink'>
                                           <li onclick="DeleteSinglePayment('${data}')" class='dropdown-item'>
                                                <a>Delete</a>
                                           </li>
                                           <li onclick="UnMarkPayment('${data}')" class='dropdown-item'>
                                                <a>Un-mark</a>
                                           </li>
                                        </ul>
                                    </div>`;
                        }
                    }

                ],
                createdRow: function (row, data, dataIndex) {
                    row.title = "Click to view details."
                    $('[data-toggle="tooltip"]', row).tooltip();
                }
            })

            $('#PaymentTable').css('cursor', 'pointer');
            searchQuery = $(".dataTables_filter input").val();
            $(".custom-search").val(searchQuery);
            dateFilterMarPay = paymentTable.column(5).search();
            $("#dateFilterMarPay").val(dateFilterMarPay);
            $(".custom-search").val(searchQuery);
            if (dateFilterMarPay != "")
                $("#clearDateFilter").css("display", "inline");
            $(".custom-search").keyup(function (e) {
                if (e.keyCode == 13) {
                    paymentTable.search(this.value).draw();
                }
            });
            $("#dateFilterMarPay").change(function () {
                $("#clearDateFilter").css("display", "inline");
                paymentTable.column(5).search(this.value).draw();
            });

            $('#PaymentTable tbody').on('click', 'tr td:not(:first-child,:last-child)', function () {
                var data = paymentTable.row($(this).parent()).data();

                window.location.href = '@Url.Action("PaymentDetails", "Payment" , new {id = "ID",flag="readonly"})'.replace("ID", data.id);
            });
            DeleteSinglePayment = (id) => {
                swal({
                    title: 'Delete Payment',
                    text: `Are you sure, you want to delete this payment?`,
                    buttons: true,
                    icon: "error",
                }).then((willDelete) => {
                    if (willDelete) {
                        DeletePayment(id);
                    }
                });
            }
            DeletePayment = (id) => {
                $.ajax({
                    url: '@Url.Action("DeletePayment","Payment")',
                    type: "POST",
                    method: 'post',
                    beforeSend: LoadingSpinner(),
                    data: { id: id },
                    success: function (response) {
                        swal.close();
                        swal({
                            title: 'Success',
                            text: response.message,
                            icon: "success",
                            closeOnClickOutside: false
                        }).then((ok) => {
                            if (ok)
                                paymentTable.ajax.reload();
                        })
                    },
                    error: function (err) {
                        swal.close();
                        ErrorNotification(err.responseJSON.message);
                    }
                });
            }
              $("#checkAllPayments").change(function () {
                $('#paymentTableBdy input:checkbox').not(this).prop('checked', this.checked);
            });

            $('body').delegate('input[type="checkbox"]', 'change', function () {
                let count = 0;

                $("#paymentTableBdy input:checkbox").each(function () {
                    if ($(this).is(":checked"))
                        count++;
                })
                if (count > 0)
                    selectedPayments = true;
                else
                    selectedPayments = false;
            });
            DeleteInBulk = () => {
                  if (selectedPayments) {
                        swal({
                            title: 'Delete Payment',
                            text: `Are you sure, you want to delete all selected payments?`,
                            buttons: true,
                            icon: "error",
                        }).then((willDelete) => {
                            if (willDelete) {
                                paymentTable.rows().every(function (rowIdx, tableLoop, rowLoop) {
                                    var data = this.data();
                                    if ($(`#${data.id}`).is(":checked")) {
                                        DeletePayment(data.id);
                                        paymentTable.ajax.reload();
                                    }
                                })
                                selectedPayments = false;
                            }
                        });
                    }
                    else {
                        ErrorNotification("Please select atleast one payment.")
                    }
            }
            CheckSelected = (module) => {
                let checkBoxes = $("#paymentTableBdy").find('input');
                let flag = true;
                for (var i = 0; i < checkBoxes.length; i++) {
                    if (!checkBoxes[i].checked) {
                        flag = false;
                    }
                }
                if (flag == true) {
                    $("#checkAllPayments").prop('checked', true)
                }
                else {
                    $("#checkAllPayments").prop('checked', false)
                }
            }
            UnMarkPayment = (id) => {
                swal({
                    title: 'Un-mark Payment',
                    text: `Are you sure, you want to un-mark this payment?`,
                    buttons: true,
                    icon: "warning",
                }).then((unMark) => {
                    if (unMark) {
                        $.ajax({
                            url: '@Url.Action("UnMarkPayment","Payment")',
                            type: "POST",
                            method: 'post',
                            beforeSend: LoadingSpinner(),
                            data: { id: id },
                            success: function (response) {
                                swal.close();
                                swal({
                                    title: 'Success',
                                    text: response.message,
                                    icon: "success",
                                    closeOnClickOutside: false
                                }).then((ok) => {
                                    if (ok)
                                        paymentTable.ajax.reload();
                                })
                            },
                            error: function (err) {
                                swal.close();
                                ErrorNotification(err.responseJSON.message);
                            }
                        });
                    }
                });
            }
            $("#clearDateFilter").click(function () {
                $("#dateFilterMarPay").val("");
                $("#clearDateFilter").css("display", "none");
                paymentTable.column(5).search("").draw();
            })
            $('input[type=search]').on('search', function () {
                paymentTable.search("").draw();
            });

            var spFilterJson = localStorage.getItem('SpFilterMarkPayment');
            if (spFilterJson != null) {
                $("#spId").val(paymentTable.column(1).search())
                $("#select2-spId-container").html(spFilterJson);
                $("#select2-spId-container").attr("title", spFilterJson);
            }

            $('#spId').change(function () {
                salesPerson = $('#spId').val();
                localStorage.setItem('SpFilterMarkPayment', $('#spId option:selected').text())
                paymentTable.column(1).search(salesPerson).draw();
            })
        })
    </script>
}