@model ReadyGo.Domain.Entities.ViewModels.ProductDetailViewModel;
@{
    ViewData["Title"] = "Stock Detail";
    var i = 0;
    var totAssign = 0;
    var totRet = 0;
    var totWaste = 0;
    var totDelivered = 0;
    var priceFlag = 0;
}
@section Styles{
    <link href="~/lib/OwlCarousel2/assets/owl.carousel.css" rel="stylesheet" />
    @*<link href="~/css/DataTableStyle.min.css" rel="stylesheet" />*@
}
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><a onclick="history.back()"><i class="fa fa-angle-left font-weight-bold" style="font-size:22px"></i></a> @ViewData["Title"]</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-4" style="display:flex;justify-content:center;flex-wrap:wrap">
                        @if (Model.Product.Image != null)
                        {
                            <img src="data:image;base64,@Convert.ToBase64String(Model.Product.Image.File)" style="width:100%" class="img-thumbnail">
                        }
                        else
                        {
                            <img src="~/resource_files/defaultProduct.jpg" style="width:100%" class="img-thumbnail">
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="row table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width:20%">Name</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Category</td>
                                        <td>@Model.Product.Category.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Product Name</td>
                                        <td>@Model.Product.Name</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>@Model.Product.Description</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row table-responsive">
                            <h2>Stock Detail</h2>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>AxCode</th>
                                        <th>Variant</th>
                                        <th>Total Assigned</th>
                                        <th>Total Delivered</th>
                                        <th>Total Return</th>
                                        <th>Total Waste</th>
                                        <th>Current Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var variant in Model.Variants)
                                    {
                                        <tr>
                                            <td>@variant.AxCode</td>
                                            <td>@variant.VariantName</td>
                                            <td class="text-right">@variant.TotalAssign.ToString("N2")</td>
                                            <td class="text-right">@variant.TotalDelivered.ToString("N2")</td>
                                            <td class="text-right">@variant.TotalReturn.ToString("N2")</td>
                                            <td class="text-right">@variant.TotalWaste.ToString("N2")</td>
                                            <td class="text-right">@variant.CurrentPrice.ToString("N2")</td>
                                        </tr>
                                        totAssign += variant.TotalAssign;
                                        totRet += variant.TotalReturn;
                                        totWaste += variant.TotalWaste;
                                        totDelivered += variant.TotalDelivered;
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th class="text-right">Total</th>
                                        <th class="text-right">@totAssign.ToString("N2")</th>
                                        <th class="text-right">@totDelivered.ToString("N2")</th>
                                        <th class="text-right">@totRet.ToString("N2")</th>
                                        <th class="text-right">@totWaste.ToString("N2")</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                @*<div class="ln_solid"></div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h2>Price History</h2>
                        <table class="table table-striped table-bordered table-responsive-xl table-responsive-md table-responsive-lg" id="PriceHistoryTable">
                            <thead>
                                <tr>
                                    <th>Created At</th>
                                    <th>Date From</th>
                                    <th>Price</th>
                                    <th>Tax</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var price in Model.Product.Prices.OrderByDescending(x => x.CreatedAt))
                                {
                                    if (priceFlag == 0)
                                    {
                                        <tr style="font-weight:bold">
                                            <td>@price.CreatedAt</td>
                                            <td>@price.From</td>
                                            <td>@price.Price</td>
                                            <td>0</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@price.CreatedAt</td>
                                            <td>@price.From</td>
                                            <td>@price.Price</td>
                                            <td>0</td>
                                        </tr>
                                    }
                                    priceFlag++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
@*@section Scripts{ 
<script src="~/js/DataTableScript.min.js"></script>
<script>
    $(document).ready(function () {
        $('#PriceHistoryTable').DataTable({
            dom: "rt<'row'<'col-md-6 col-xs-12'i><'col-md-2 col-xs-12'l><'col-md-4 col-xs-12'p>>",
            serverSide: false,
            paging: true,
            processing: false,
            info: true,
            stateSave: true,
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading...',
                emptyTable: 'No data available'
            },
            order: [0, 'asc']
        });
    })
</script>
}*@