@model ReadyGo.Domain.Entities.ViewModels.OrderDetailsViewModel;
@{
    ViewData["Title"] = "Discount Details";
    var title = "Discount {0} Detail";
    var status = Model.Status.ToString();
    status = status.Equals(Domain.Enum.ApprovalStatus.ReAdjusted.ToString()) ? "Approved" : status;
    var Gross = Model.Gross;
    var returnAmount = Model.Return;
    var waste = Model.Waste + Model.Return;
    var discount = Model.TotalDiscount;
    var total = Gross + waste;
    double invoiceDiscountPercentage = Model.InvoiceDiscountPercentage;
    double invoiceDiscount = Model.InvoiceDiscount;
    double totalDiscountPercentage = Model.TotalDiscountPercentage;
    var finalamount = Model.Total;
    var custName = Model.BusinessName;

}
@section Styles{
    <link href="~/css/DataTableStyle.min.css" rel="stylesheet" />
    <style>
        .card {
            margin-top: 8px;
        }

        #editIcon {
            font-size: 25px;
            float: right;
        }

        .error {
            color: red !important
        }

        .pendingStatus {
            background-color: #d17813 !important;
            font-size: 15px;
            padding: 3px;
            border-radius: 3px;
            color: #fff;
        }

        .approvedStatus {
            background-color: green !important;
            font-size: 15px;
            padding: 3px;
            border-radius: 3px;
            color: #fff;
        }

        .reAdjustStatus {
            background-color: darkred !important;
            font-size: 15px;
            padding: 3px;
            border-radius: 3px;
            color: #fff;
        }

        .userAxStatus {
            background-color: darkblue !important;
            font-size: 15px;
        }

        .form-group {
            padding-top: 10px;
        }

        .profileImageContainer {
            margin-bottom: unset !important;
        }

        #OrderDetails_wrapper {
            overflow: auto;
        }

        .custom-link {
            color: #1000ffeb;
            float: right;
        }
    </style>
}
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><a onclick="history.back()"><i class="fa fa-angle-left font-weight-bold" style="font-size:22px"></i></a> @string.Format(title, status)</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row formGroup">
                    <div class="col-md-6">
                        @if (Model.Status == Domain.Enum.ApprovalStatus.Approved)
                        {
                            <span class="approvedStatus">@Model.Status.ToString()</span>
                        }
                        else if (Model.Status == Domain.Enum.ApprovalStatus.Pending)
                        {
                            <span class="pendingStatus">@Model.Status.ToString()</span>
                        }
                        else
                        {
                            <span class="reAdjustStatus">@Model.Status.ToString()</span>
                        }
                    </div>
                    <div class="col-md-6" style="text-align:right">
                        <span class="userAxStatus">Order ID# @Model.OrderCode</span>
                    </div>
                </div>
               
                <div class="card" id="custInfo">
                    <div class="col-md-12" style="background-color:#f7f7f7">
                        <div style="text-align:center">
                            <h2>Loading...</h2>
                        </div>
                    </div>
                </div>
                <div style="padding-top:10px">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table id="OrderDetails" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                Product Details
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                Sale Items
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Discount</th>
                                            <th>Promo Deal</th>
                                            <th>Gross Sale</th>
                                            <th>Tax Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Details != null && Model.Details.Count > 0)
                                        {
                                            @foreach (var data in Model.Details.Where(x => x.Waste == 0 && !x.IsWaste))
                                            {
                                                <tr>
                                                    <td>@data.ProductCode</td>
                                                    <td>@data.ProductName</td>
                                                    <td class="text-right">@data.Quantity.ToString("N2")</td>
                                                    <td class="text-right">@data.UnitPrice.ToString("N2")</td>
                                                    <td class="text-right">@Math.Round(data.Discount, 2).ToString("N2")</td>
                                                    <td>@data.Promos</td>
                                                    <td class="text-right">@Math.Round(data.Gross - (data.Discount * data.Quantity), 2).ToString("N2")</td>
                                                    <td class="text-right">@Math.Round(data.Tax, 2).ToString("N2")</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 table-responsive">
                                <table id="Returns" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                Return Items
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Discount</th>
                                            <th>Return</th>
                                            <th>Tax Amount</th>
                                            <th>Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Details != null && Model.Details.Count > 0)
                                        {
                                            @foreach (var data in Model.Details.Where(x => x.Waste != 0 && !x.IsWaste))
                                            {
                                                <tr>
                                                    <td>@data.ProductCode</td>
                                                    <td>@data.ProductName</td>
                                                    <td class="text-right">@data.Quantity.ToString("N2")</td>
                                                    <td class="text-right">@data.UnitPrice.ToString("N2")</td>
                                                    <td class="text-right">@Math.Round(data.Discount, 2).ToString("N2")</td>
                                                    <td class="text-right">@data.Waste.ToString("N2")</td>
                                                    <td class="text-right">@Math.Round(data.Tax, 2).ToString("N2")</td>
                                                    <td class="text-right">@data.Reason</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 table-responsive">
                                <table id="Waste" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="8" class="text-center">
                                                Waste Items
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Discount</th>
                                            <th>Waste</th>
                                            <th>Tax Amount</th>
                                            <th>Reason</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Details != null && Model.Details.Count > 0)
                                        {
                                            @foreach (var data in Model.Details.Where(x => x.Waste != 0 && x.IsWaste))
                                            {
                                                <tr>
                                                    <td>@data.ProductCode</td>
                                                    <td>@data.ProductName</td>
                                                    <td class="text-right">@data.Quantity.ToString("N2")</td>
                                                    <td class="text-right">@data.UnitPrice.ToString("N2")</td>
                                                    <td class="text-right">@Math.Round(data.Discount, 2).ToString("N2")</td>
                                                    <td class="text-right">@data.Waste.ToString("N2")</td>
                                                    <td class="text-right">@Math.Round(data.Tax, 2).ToString("N2")</td>
                                                    <td class="text-right">@data.Reason</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Shipment Information</h2>
                                </div>
                                @*<div class="col-md-6" id="no-print-this2">
                        <h2 id="getDirections"><a class="custom-link">Get Directions <i class="fa fa-map-marker"></i></a></h2>
                    </div>*@
                            </div>
                            <input type="hidden" value="@ViewBag.TotalWithoutDiscount" id="totalWithoutDiscount" />
                            <div class="row">
                                <div class="row form-group col-md-6">
                                    <label class="control-label-left col-md-3 col-sm-3 col-xs-3 ">
                                        Driver Name
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input value="@Model.DriverName" readonly class="form-control has-feedback-left">
                                        <i class="fa fa-user form-control-feedback left" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="row form-group col-md-6">
                                    <label class="control-label-left col-md-3 col-sm-3 col-xs-3 ">
                                        Vehicle Number
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input value="@Model.VehicleNo" readonly class="form-control has-feedback-left">
                                        <i class="fa fa-truck form-control-feedback left" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card">
                            <div class="row form-group">
                                <input type="hidden" asp-for="ApprovalFor" />
                                <label class="control-label-left col-md-3 col-sm-3 col-xs-3">
                                    Total Gross
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input value="@Math.Round(Model.Gross).ToString("N2")" id="grossTotal" readonly class="form-control has-feedback-left text-right">
                                    <i class="fa fa-money form-control-feedback left" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row form-group ">
                                <label class="control-label-left col-md-3 col-sm-3 col-xs-3">
                                    Invoice Discount
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input value="@Math.Round(invoiceDiscount,2).ToString("N2") (@Math.Round(invoiceDiscountPercentage,2).ToString("N2")%)" style=" color: darkred" readonly class="form-control has-feedback-left text-right">
                                    <i class="fa fa-percent form-control-feedback left" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label-left col-md-3 col-sm-3 col-xs-3">
                                    Total Discount
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input value="@Math.Round(discount,2).ToString("N2") (@Math.Round(totalDiscountPercentage,2).ToString("N2")%)" style="color:darkred" readonly class="form-control has-feedback-left text-right">
                                    <i class="fa fa-tags form-control-feedback left" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label-left col-md-3 col-sm-3 col-xs-3">
                                    Return / Wastage
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input value="@Math.Round(waste).ToString("N2")" id="waste" style="color:darkred" readonly class="form-control has-feedback-left text-right">
                                    <i class="fa fa-trash form-control-feedback left" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label-left col-md-3 col-sm-3 col-xs-3 " for="showSP">
                                    Net Sale
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input value="@Math.Round(finalamount).ToString("N2")" readonly class="form-control has-feedback-left text-right">
                                    <i class="fa fa-money form-control-feedback left" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label class="control-label-left col-md-3 col-sm-3 col-xs-3">
                                    Total
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input value="@Math.Round(finalamount).ToString("N2")" readonly class="form-control has-feedback-left text-right">
                                    <i class="fa fa-money form-control-feedback left" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="row form-group">
                                <label class="control-label-left col-md-3 col-sm-3 col-xs-3">
                                    Net Cash
                                </label>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input value="@Math.Round(Model.Payment).ToString("N2")" readonly class="form-control has-feedback-left text-right">
                                    <i class="fa fa-money form-control-feedback left" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @if (Model.Status == Domain.Enum.ApprovalStatus.Pending)
                {
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-12 col-sm-12 submit-btn">
                            <button id="readjust" class="btn btn-default" data-toggle="modal" data-target="#readjustModal">Re-Adjust</button>
                            <button id="approved" class="btn btn-default">Approve</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="readjustModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">Discount Order Readjustment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="padding:2%">
                <div class="col-md-6">
                    <div class="row">
                        <span><b>Max discount thrashhold: </b>@ViewBag.MaxDiscount%</span>
                    </div>
                </div>
                <div class="row">
                    <form id="discountReadjustForm">
                        <input type="hidden" value="@Model.Id" name="Id" />
                        <div class="col-md-6">
                            <div class="row form-group">
                                <label class="required">Discount Percentage: </label>
                                <input name="discountPer" value="@Math.Round(invoiceDiscountPercentage,2).ToString("N2")" required type="number" id="discountPer" onkeyup="BalanceDiscount(this)" onchange="BalanceDiscount(this)" min="0" max="@ViewBag.MaxDiscount" class="percentage form-control text-right">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <label class="required">Discount Amount: </label>
                                <input name="discountAmt" required type="number" value="@invoiceDiscount" min="0" id="discountAmt" onkeyup="BalanceDiscount(this)" onchange="BalanceDiscount(this)" class="discount form-control text-right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="reAdjustDiscount" class="btn btn-default"><i class="fa fa-file-export"></i> Re-Adjust</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/ValidationScript.min.js"></script>
    <script src="~/js/DataTableScript.min.js"></script>
    @*<script src="~/js/DiscountScript.js"></script>*@
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
               $.ajax({
                url: '@Url.Action("CustomerInfo","Discount")',
                type: "Get",
                method: 'get',
               data: { id: "@Model.CustomerId"},
                success: function (response) {
                    $('#custInfo').html(response);
                },
                error: function (err) {
                    ErrorNotification(err.responseJSON.message);
                }
            });
            $('#OrderDetails').DataTable({
                dom: "rt<'row'<'col-md-6 col-xs-12'i><'col-md-2 col-xs-12'l><'col-md-4 col-xs-12'p>>",
                serverSide: false,
                paging: false,
                processing: false,
                info: false,
                stateSave: true,
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading...',
                    emptyTable: 'No data available'
                },
                order: [1, 'asc']
            });
            $('#Waste').DataTable({
                dom: "rt<'row'<'col-md-6 col-xs-12'i><'col-md-2 col-xs-12'l><'col-md-4 col-xs-12'p>>",
                serverSide: false,
                paging: false,
                processing: false,
                info: false,
                stateSave: true,
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading...',
                    emptyTable: 'No data available'
                },
                order: [1, 'asc']
            });
            $('#Returns').DataTable({
                dom: "rt<'row'<'col-md-6 col-xs-12'i><'col-md-2 col-xs-12'l><'col-md-4 col-xs-12'p>>",
                serverSide: false,
                paging: false,
                processing: false,
                info: false,
                stateSave: true,
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>Loading...',
                    emptyTable: 'No data available'
                },
                order: [1, 'asc']
            });

            $('#approved').click(function () {
                swal({
                    title: 'Approved Discount',
                    text: `Are you sure, you want to approve the order discount?`,
                    buttons: true,
                    icon: "warning",
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '/Discount/ChangeOrderStatus',
                            type: "POST",
                            method: 'post',
                            beforeSend: LoadingSpinner(),
                            data: { id: '@Model.Id' },
                            success: function (response) {
                                swal.close();
                                swal({
                                    title: 'Success',
                                    text: response.message,
                                    icon: "success",
                                    closeOnClickOutside: false
                                }).then((ok) => {
                                    if (ok) {
                                        let url = document.referrer;
                                        window.location.href = url;
                                    }
                                })
                            },
                            error: function (err) {
                                swal.close();
                                ErrorNotification(err.responseJSON.message);
                            }
                        });
                    }
                });
            });
            $(".discount").keydown(function (e) {
                if (e.keyCode != 8 && (e.keyCode == 109 || this.value.length > 3 || e.keyCode == 110))
                    e.preventDefault()
            });
            BalanceDiscount = (input) => {
                let id = $(input).attr("id");
                let approvelFor = $("#ApprovalFor").val();
                let grossTotal = parseFloat($("#totalWithoutDiscount").val());
                if (id == "discountAmt") {
                    let Amt = parseFloat(input.value) > grossTotal ? grossTotal : parseFloat(input.value);
                    let percentage = (Amt / grossTotal) * 100;
                    $("#discountPer").val(percentage.toFixed(2));
                    input.value = Amt;
                }
                else {
                    let percentage = input.value > 100 ? 100 : parseFloat(input.value);
                    let Amt = (grossTotal / 100) * percentage;
                    $("#discountAmt").val(Amt.toFixed(2));
                }
            }
            $("#reAdjustDiscount").click(function () {
                if ($("#discountReadjustForm").valid()) {
                    swal({
                        title: 'Readjustment',
                        text: `Are you sure, you want to re-adjust the discounted order?`,
                        buttons: true,
                        icon: "warning",
                    }).then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "/Discount/ReAdjustDiscount",
                                type: "POST",
                                method: "post",
                                beforeSend: LoadingSpinner(),
                                data: $("#discountReadjustForm").serialize(),
                                success: function (response) {
                                    swal.close();
                                    swal({
                                        title: 'Success',
                                        text: response.message,
                                        icon: "success",
                                        closeOnClickOutside: false
                                    }).then((ok) => {
                                        if (ok) {
                                            let url = document.referrer;
                                            window.location.href = url;
                                        }
                                    })
                                },
                                error: function (err) {
                                    ErrorNotification(err.responseJSON.message);
                                }
                            })
                        }
                    });
                }
            });
        });

    </script>
}


